
<%= puts current_user.user_type%>

<% if current_user.user_type == 'Agent' %>
<!--#List a Tour-->
  <h4>DO NOT RELOAD THE PAGE HERE</h4>
  <h4><%= link_to "List a Tour",  new_tour_path%></h4>
  <!--View all tours-->
  <h4><%= link_to "View all Tours", tours_path%></h4>
<% end %>
<% if current_user.user_type == 'Customer' %>
  hello
<% end %>
<% if current_user.name == 'Admin' %>
  hello
<% end %>
